* {
	margin: 0; 
	padding: 0; 
}

body {
	font-family: "Tahoma", sans-serif; 
	color: #000; 
	font-size: 17px; 
	background: #8c8969; 
	line-height: 1.9em; 
	background-image: url("https://pixabay.com/get/e834b00620f1023ed1534705fb094796e371e4dc18ac104590f7c57ea2e4b0ba/question-mark-1119853_1920.jpg");  
	
}

ul, li {
	list-style: none; 
}

#container{
	width:60%; 
	margin: 30px auto;
	overflow: auto; 
}
h1{
	text-align: center; 
	margin-bottom: 20px; 
}

.title {
	height: 40px;
	background: #d1c959; 
	color: #fff;
	text-align: center; 
	padding-top: 13px; 
	border-radius: 10px;
}
